<div class="row m-2">
    <div class="col-12">
        <p class="subtitle">| DATOS ENTIDAD</p>
    </div>
    <div class="col-12">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <label for="nro_solicitud">Nro Solicitud Caja:</label>
                    <input type="text" id="nro_solicitud" class="form-control" readonly>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <label for="tip_conformacion">Tipo Conformación:</label>
                    <select type="text" id="tip_conformacion" class="form-control" readonly>
                        <option value="">Seleccione</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <label for="plz_prestamo">Plazo Prestamo:</label>
                    <input type="text" id="plz_prestamo" class="form-control" readonly>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <label for="tip_moneda">Moneda Prestamo:</label>
                    <select type="text" id="tip_moneda" class="form-control" readonly>
                        <option value="">Seleccione</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <label for="plz_prestamo">Imp. Prestamo:</label>
                    <input type="text" id="plz_prestamo" class="form-control" readonly>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <label for="plz_prestamo">Funcionario Canal:</label>
                    <input type="text" id="plz_prestamo" class="form-control" readonly>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>