.custom-c{
    width: 85% !important;
    margin: auto;
    background: #e0e0e0;
}

.white-all{
    border: none;
    background: white !important;
}

textarea{
    overflow: hidden;
    resize: none;
    cursor: not-allowed;
}