.page{
    width: 100%;
    height: 100vh;
    background: rgba(#db1b00, 0.85);
}

.custom-box{
    width: 70%;
    background: white;
    margin: auto;
    top: 100px;
    padding: 10px;
}

.centered{
    width: 100%;
    border: 10px solid #db1b00;
}

.img-box{
    display: block;
    margin: auto;
}