<form [formGroup]="aseguradoForm" (ngSubmit)="setAsegurado(aseguradoForm.value)">
    <div class="row m-2" *ngFor="let asegurado of t.controls; let i = index">
        <div [formGroup]="asegurado" class="col-12">
            <div class="card shadow border-light mb-3">
                <div class="row">
                    <div class="col-9">
                        <p class="subtitle m-3">| DATOS DEL ASEGURADO</p>
                    </div>
                </div>
                <div class="card-body p-2">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                    <label for="parent">Parentesco (*):</label>
                                    <select id="parent" class="form-control" formControlName="codParentesco">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let p of parentescoList" [value]="p.codigo">{{p.texto}}</option>
                                    </select>
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.codParentesco">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('codParentesco').hasError(validation.type) &&
                                                 (asegurado.get('codParentesco').dirty || asegurado.get('codParentesco').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                    <label for="tip_doc">Tipo de Documento (*):</label>
                                    <select id="tip_doc" class="form-control" formControlName="tipDocum">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let d of documentoList" [value]="d.codigo">{{d.texto}}</option>
                                    </select>
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.tipDocum">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('tipDocum').hasError(validation.type) &&
                                                 (asegurado.get('tipDocum').dirty || asegurado.get('tipDocum').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                    <label for="nro_doc">Nro Documento (*):</label>
                                    <input type="text" id="nro_doc" class="form-control" formControlName="codDocum"
                                        autocomplete="off">
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.codDocum">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('codDocum').hasError(validation.type) &&
                                                     (asegurado.get('codDocum').dirty || asegurado.get('codDocum').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                    <label for="fec_nac">Fecha Nacimiento (*):</label>
                                    <input type="date" id="fec_nac" class="form-control" formControlName="fecNacimiento"
                                        (change)="setFechaNacimiento($event, i)" autocomplete="off">
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.fecNacimiento">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('fecNacimiento').hasError(validation.type) &&
                                                     (asegurado.get('fecNacimiento').dirty || asegurado.get('fecNacimiento').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                    <label for="est_civ">Estado Civil (*):</label>
                                    <select id="est_civ" class="form-control" formControlName="estadoCivil">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let d of estadoCivilList" [value]="d.codigo">{{d.texto}}
                                        </option>
                                    </select>
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.estadoCivil">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('estadoCivil').hasError(validation.type) &&
                                                 (asegurado.get('estadoCivil').dirty || asegurado.get('estadoCivil').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                    <label for="name">Nombres (*):</label>
                                    <input type="text" id="name" class="form-control" formControlName="nombre"
                                        autocomplete="off">
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.nombre">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('nombre').hasError(validation.type) &&
                                                     (asegurado.get('nombre').dirty || asegurado.get('nombre').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                    <label for="ape_pat">Apellido Paterno (*):</label>
                                    <input type="text" id="ape_pat" class="form-control" formControlName="apePaterno"
                                        autocomplete="off">
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.apePaterno">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('apePaterno').hasError(validation.type) &&
                                                     (asegurado.get('apePaterno').dirty || asegurado.get('apePaterno').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                    <label for="ape_mat">Apellido Materno (*):</label>
                                    <input type="text" id="ape_mat" class="form-control" formControlName="apeMaterno"
                                        autocomplete="off">
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.apeMaterno">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('apeMaterno').hasError(validation.type) &&
                                                     (asegurado.get('apeMaterno').dirty || asegurado.get('apeMaterno').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                    <label for="sex">Sexo (*):</label>
                                    <select id="sex" class="form-control" formControlName="mcaSexo">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let d of generoList" [value]="d.codigo">{{d.texto}}</option>
                                    </select>
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.mcaSexo">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('mcaSexo').hasError(validation.type) &&
                                                     (asegurado.get('mcaSexo').dirty || asegurado.get('mcaSexo').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                    <label for="pais">Nacionalidad (*):</label>
                                    <input type="text" id="pais" class="form-control" formControlName="nacionalidad"
                                        readonly>
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.nacionalidad">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('nacionalidad').hasError(validation.type) &&
                                                    (asegurado.get('nacionalidad').dirty || asegurado.get('nacionalidad').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <!-- Inicio Direccion del Asegurado -->
                                <app-dynamic-direccion [index]="i" [direccionData]="asegurado.get('direccion').value"
                                    (dataGetter)="getDireccionData($event, i)" style="width: 100% !important;">
                                </app-dynamic-direccion>
                                <!-- Fin Direccion del Asegurado -->

                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                    <label for="mail">Email (*):</label>
                                    <input type="text" id="mail" class="form-control" formControlName="email"
                                        autocomplete="off">
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.email">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('email').hasError(validation.type) &&
                                                             (asegurado.get('email').dirty || asegurado.get('email').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                    <label for="nro_tel">Nro Telefono (*):</label>
                                    <input type="text" id="nro_tel" class="form-control" formControlName="tlfNumero"
                                        autocomplete="off" minlength="7" max="10">
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.tlfNumero">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('tlfNumero').hasError(validation.type) &&
                                                             (asegurado.get('tlfNumero').dirty || asegurado.get('tlfNumero').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                    <label for="nro_mov">Nro Movil (*):</label>
                                    <input type="text" id="nro_mov" class="form-control" formControlName="tlfMovil"
                                        autocomplete="off" minlength="9" maxlength="12">
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.tlfMovil">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('tlfMovil').hasError(validation.type) &&
                                                             (asegurado.get('tlfMovil').dirty || asegurado.get('tlfMovil').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                    <label for="talla">Talla (*):</label>
                                    <div class="input-group">
                                        <input type="number" id="talla" class="form-control" formControlName="talla"
                                            min="0" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">mts.</span>
                                        </div>
                                    </div>
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.talla">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('talla').hasError(validation.type) &&
                                                             (asegurado.get('talla').dirty || asegurado.get('talla').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                    <label for="peso">Peso (*):</label>
                                    <div class="input-group">
                                        <input type="number" id="peso" class="form-control" formControlName="peso"
                                            min="0" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon3">kg.</span>
                                        </div>
                                    </div>
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.peso">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('peso').hasError(validation.type) &&
                                                             (asegurado.get('peso').dirty || asegurado.get('peso').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <label for="ocup">Ocupación (*):</label>
                                    <ng-select [items]="profesionesList" bindLabel="texto" bindValue="codigo"
                                        [searchable]="true" labelForId="ocup" formControlName="codOcupacion"
                                        [loading]="profIsLoading" loadingText="Cargando Profesiones..."
                                        placeholder="Seleccione Ocupación">
                                    </ng-select>
                                    <!-- (change)="onChangeOcupation($event, i)"  -->
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.codOcupacion">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('codOcupacion').hasError(validation.type) &&
                                                         (asegurado.get('codOcupacion').dirty || asegurado.get('codOcupacion').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <!-- <div *ngIf="otroIsSelected" class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <label for="peso">Otro:</label>
                                    <input type="text" id="otro_ocup" class="form-control"
                                        formControlName="otroOcupacion">
                                    <div class="col-12 form-group error-container p-0">
                                        <ng-container *ngFor="let validation of validations.otroOcupacion">
                                            <div class="error-message"
                                                *ngIf="asegurado.get('otroOcupacion').hasError(validation.type) &&
                                                             (asegurado.get('otroOcupacion').dirty || asegurado.get('otroOcupacion').touched)">
                                                <span>{{ validation.message }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <app-dynamic-pregunta [aseguradoIndex]="i" (dataGetter)="getCuestionarioData($event, i)">
                </app-dynamic-pregunta>

            </div>
        </div>
    </div>

    <div class="row m-2">
        <div class="col-12 text-right">
            <button type="button" class="btn mapfre-color text-white ml-1" (click)="back($event)">Volver</button>
            <button type="submit" class="btn mapfre-color text-white ml-1">{{ hasPlan ? 'Siguiente' : 'Finalizar'
                }}</button>
        </div>
    </div>
</form>